name: Android BUILD

on:
  workflow_dispatch:
  pull_request:
  push:

jobs:
  build-arch:
    name: Build for ${{ matrix.arch }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: arm64-v8a
            artifact_name: whl-arm64-v8a
          - arch: armeabi-v7a
            artifact_name: whl-armeabi-v7a

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build WHL files
        id: build_whl
        continue-on-error: true
        run: |
          cd ${{ github.workspace }}
          bash run.sh ${{ matrix.arch }}

      # # Start tmate ONLY if build failed
      # - name: Debug with tmate
      #   if: steps.build_whl.outcome == 'failure'
      #   uses: mxschmitt/action-tmate@v3

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: p4aworkdir/output/*.whl
