name: Android BUILD

on:
  workflow_dispatch:
  pull_request:

jobs:
  build-android:
    name: Build for Android
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name:
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Build with Buildozer
        run: |
          cd ${{ github.workspace }}
          bash run.sh
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: whl
          path: p4aworkdir/output/*.whl
